<header class="header">

    <div class="logo">
        <h2>SpareHub</h2>
    </div>

    <nav class="navbar">

        <a routerLink="/home" routerLinkActive="active">
            Home
        </a>

        <a routerLink="/products" routerLinkActive="active">
            Products
        </a>

        <a routerLink="/orders" routerLinkActive="active">
            Orders
        </a>

        <a routerLink="/support" routerLinkActive="active">
            Support
        </a>

    </nav>

</header>